body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.header{
    color: var(--neutral-white);
    background: url('/assets/image/translation-header.png');
    background-position: bottom;
    background-size: contain;
    grid-column: 1/-1;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    row-gap: 3rem;   
    background-repeat: no-repeat;
    height: 500px;
    background-color:var(--header-bg);

}

.main{
    grid-column: 1/-1;
    display: grid;
    row-gap: 2rem;
    @include responsive($desktop){
        row-gap: 0;
    }
}

.footer{
    padding-top: 3rem;
    grid-column: 1/-1;
    padding: 1rem 0;
    background: var(--header-bg);
    color: var(--primary-text);
}