body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12% 88%;
}

.header{
    padding: 0.5em;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-bottom: 1px solid var(--border);

    @include responsive($desktop){
        grid-column: 4 / span 12;
    }
}

.main{
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: 90% 10%;
    @include responsive($desktop){
        grid-column: 4 / span 12;
    }
}

.aside{
    @include responsive($desktop){
        grid-column: 1/ span 3;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: 10% 90%;
    }
}